<section fxLayout="row mb-2" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInLeft'"
    style="overflow: hidden;">
    <div class="search-form">
        <div class="box box1">
            <div class="row">
                <div class="col-md-12">
                    <span>"My technical toolkit is built for performance, scalability, and great user experience. Here’s
                        what I work with:"</span>
                </div>
            </div>
        </div>
    </div>
</section>


<section fxLayout="row mb-2" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInLeft'"
    style="overflow: hidden;">
    <div class="search-form mt-2">
        <div class="box">
            <div class="row">
                <div class="col-md-4">
                    <h6>Frontend Skills</h6>
                    <ul>
                        <li>Angular 6+</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>TypeScript</li>
                        <li>JavaScript</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h6>Backend Skills</h6>
                    <ul>
                        <li>Dot net core web api</li>
                        <li>Entity framework</li>
                        <li>My sql</li>
                        <li>Web api (CRUD Operations)</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h6>Tools</h6>
                    <ul>
                        <li>Visual Studio / Visual Studio Code</li>
                        <li>GitHub </li>
                        <li>Jenkins</li>
                        <li>Jira (for task management)</li>
                        <li>Postman</li>
                        <li>Swagger</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section fxLayout="row mb-2" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInLeft'"
    style="overflow: hidden;">
    <div class="search-form mt-2">
        <div class="box">
            <div class="row">
                <div class="col-md-12">
                    <h6>Other</h6>
                    <p>"Implemented secure user authentication using JSON Web Tokens (JWT), ensuring stateless
                        session management and protected API routes."</p>
                    <p>"Integrated SignalR API with Angular to enable real-time communication features such as live
                        notifications and dynamic data updates."</p>
                    <p>"Implemented Paytm payment gateway integration to enable secure and seamless money transfers
                        within the application."</p>
                </div>
            </div>
        </div>
    </div>
</section>