
<mat-toolbar color="primary" class="top-bar">
  <span class="heading">
  Abhijit Deshmukh
  </span>
  <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>
  <!-- <button class="masterButton ml-2" mat-stroked-button routerLink="./master"
    *ngIf="(currentUser.isUser == 'Admin' || currentUser.aggregatorType == 'NCC')">
    <span style="margin-top:5px">
      {{ 'Header.Master' | translate }}
    </span>
  </button> -->

  <div fxFlex fxLayoutAlign="flex-end center">
  </div>
  <div>
   
  </div>
  <button mat-button [matMenuTriggerFor]="animals">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #animals="matMenu" style="margin-top: 5px;">
    <button mat-menu-item routerLink="./profile">Profile</button>
    <button mat-menu-item color="warn" (click)="logout()" class="logout_button">
     Logout</button> 
  </mat-menu>
  <!--  -->
</mat-toolbar>
<mat-sidenav-container >
  <mat-sidenav #sidenav mode="side" [opened]="opened">
    <mat-nav-list style="overflow-x: hidden; padding-right: 12px;" >
      <app-menu-list-item *ngFor="let item of mainmenu; let i = index" [item]="item" [statusLink]='statusLink'>
      </app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>