<section fxLayout="row mb-2" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInLeft'"
    style="overflow: hidden;">
    <div class="search-form">
        <div class="box box1">
            <div class="row">
                <div class="col-md-12">
                    <span>worked on multiple project but mentioned some key projects</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section fxLayout="row" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInLeft'"
    style="overflow: hidden;">
    <div class="search-form ">
        <div class="box">
            <div class="row mb-2">
                <h6>NCCF (National Cooperative Consumer's Federation of india Ltd)</h6>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>NCCF, is an organization to promote consumer cooperative movement in the country, aspires to
                        facilitate the voluntary formation and democratic functioning of cooperatives, based on
                        self-reliance and mutual aid for overall economic betterment and financial autonomy.</p>
                    <p>Website and Admin panel is implemented</p>
                    <p><b>Roles and Responsibilites</b></p>
                    <ul class="main-list">
                        <li>Invloved in creating top-level coding base using Angular and .net core best practices</li>
                        <li>Created reusable component & modules </li>
                        <li>Implemented login logout, authentication using JWT web token</li>
                        <li>Muliple reactive forms with validations, CRUD operations done</li>
                        <li>Interceptors used for web token</li>
                        <li>Lazy loading is used for routings</li>
                    </ul>
                    <p><b>Links</b></p>
                    <ul>
                        <li><a href="https://nccfindia.com/welcome" target="_blank">https://nccfindia.com/welcome</a>
                        </li>
                        <li><a href="https://admin.nccfindia.com/login"
                                target="_blank">https://admin.nccfindia.com/login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section fxLayout="row" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInLeft'"
    style="overflow: hidden;">
    <div class="search-form mt-2">
        <div class="box">
            <div class="row mb-2">
                <h6>Agribid India</h6>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>In the midst of October 2020, Agribid took its first step towards reshaping the landscape of
                        agriculture. Behind this innovative endeavor were three remarkable visionaries who believed in
                        harnessing technology to forge connections and catalyze change within the farming community.</p>
                    <p><b>Roles and Responsibilites</b></p>
                    <ul class="main-list">
                        <li>SignalR api used for real time data</li>
                        <li>Biding logic implemented</li>
                        <li>Invloved in creating top-level coding base using Angular and .net core best practices</li>
                        <li>Created reusable component & modules </li>
                        <li>Implemented login logout, authentication using JWT web token</li>
                        <li>Muliple reactive forms with validations, CRUD operations done</li>
                        <li>Interceptors used for web token</li>
                        <li>Lazy loading is used for routings</li>
                    </ul>
                    <p><b>Links</b></p>
                    <ul>
                        <li><a href="https://agribidindia.com/home" target="_blank">https://agribidindia.com/home</a>
                        </li>
                        <li><a href="https://admin.agribidindia.com/login"
                                target="_blank">https://admin.agribidindia.com/login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>