<body>

	<section class="center" *ngIf="loginFormdisplay" [@fadeInAnimation]>
		<div class="row" style="padding: 10%;">
			<div class="col-md-12">
				<div class="container text-center">
				(Username And Password : admin)
				</div>
				<form [formGroup]="loginForm" class="loginform">
					<div [ngStyle]="{'border-bottom':submitted && f.username.errors ? '2px solid red' : '2 px solid #adadad' }"
						class="txt-field">
						<input type="text" formControlName="username" required autocomplete="on">
						<span></span>
						<label [ngClass]="{'text-danger': submitted && f.username.errors}">User Name</label>
					</div>

					<div [ngStyle]="{'border-bottom':submitted && f.password.errors ? '2px solid red' : '2 px solid #adadad' }"
						class="txt-field">
						<input type="Password" formControlName="password" required>
						<span></span>
						<label [ngClass]="{'text-danger': submitted && f.password.errors}">Password</label>
					</div>
					<!-- <div class="pass"><a [href]="webbaseUrl+'/pacs'" target="_blank">PACS Registration</a></div> -->
					<div class="pass"><a>Forgot Password</a></div>
					<button value="Login" class="btn" (click)="login()" [disabled]="!loginForm.valid">Login</button>
				</form>
			</div>
		</div>
	</section>




</body>