<section fxLayout="row mb-2" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInLeft'"
    style="overflow: hidden;">
    <div class="row">
        <div class="col-md-6">
            <div class="search-form">
                <div class="box">
                    <div class="row">
                        <div class="col-md-12">
                            <h6>Contact Me</h6>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Enter your name">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" placeholder="Enter your name">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="search-form">
                <div class="box">

                    <div class="row">
                        <div class="col-md-12">
                            <h6>Contact Me</h6>
                            <span>My education not only gave me strong technical skills, but also improved my
                                problem-solving ability, teamwork, and communication — qualities I’m excited to bring
                                into a professional environment.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>