<section fxLayout="row mb-2" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInLeft'"
    style="overflow: hidden;">
    <div class="search-form">
        <div class="box box1">
            <div class="row">
                <div class="col-md-12">
                   <span>My education not only gave me strong technical skills, but also improved my problem-solving ability, teamwork, and communication — qualities I’m excited to bring into a professional environment.</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section fxLayout="row" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInLeft'"
    style="overflow: hidden;">
    <div class="search-form mt-2">
        <div class="box">
            <div class="row mb-2">
                <h6>Highest Education</h6>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="main-list">
                        <li style="font-weight: 500;color: blue;">Bachelor of Engineering (B.E.) in Electronics & Telecommunication</li>
                        <li>Savitribai Phule Pune University Maharashtra  </li>
                        <li><a href="https://sndcoe.ac.in/" target="_blank">S.N.D. College of Engineering & Research Center (Yeola)</a></li>
                        <li>Year : 2014 - 2018</li>
                        <li class="percentage">Percentage : 64 %</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section fxLayout="row" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInLeft'"
    style="overflow: hidden;">
    <div class="search-form mt-2">
        <div class="box">
            <div class="row mb-2">
                <h6>Diploma</h6>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="main-list">
                        <li style="font-weight: 500;color: blue;">Diploma in Electronics & Telecommunication</li>
                        <li>MSBTE (Maharashtra State Board of Technical Education)  </li>
                        <li><a href="https://sndcoe.ac.in/" target="_blank">S.N.D. College of Engineering & Research Center (Yeola)</a></li>
                        <li>Year : 2012 - 2014</li>
                        <li class="percentage">Percentage : 65 %</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section fxLayout="row" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInLeft'"
    style="overflow: hidden;">
    <div class="search-form mt-2">
        <div class="box">
            <div class="row mb-2">
                <h6>HSC</h6>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="main-list">
                        <li style="font-weight: 500;color: blue;">12th Science</li>
                        <li>Nashik Disrict  </li>
                        <li>Swami muktanand College (Yeola)</li>
                        <li>Year : 2008 - 2010</li>
                        <li class="percentage">Percentage : 52 %</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section fxLayout="row" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInLeft'"
    style="overflow: hidden;">
    <div class="search-form mt-2">
        <div class="box">
            <div class="row mb-2">
                <h6>SSC</h6>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="main-list">
                        <li style="font-weight: 500;">10th</li>
                        <li>Nashik Disrict  </li>
                        <li>Matoshri vithabai chavhan vidyalaya (Yeola)</li>
                        <li>Year : 2007 - 2008</li>
                        <li class="percentage">Percentage : 62 %</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

